
/* LEFT menu for markets */
#leftMarketsMenu {
    width: 75px;
    background-image: linear-gradient(to bottom, #124191, #1858c5);
    display: block;

    /*Later edit for expansion over elements*/
    position: absolute;
    height: calc( 100% - 45px );
}

/* General CSS  */
.menuItemsText {
    font-size: 12px;
    text-align: right;
    width: 100%;
    font-weight: 400;
    margin-left: 10;
}

.selectedMarket {
    opacity: 1 !important;
    font-weight: 600 !important;
}

.btnMarket:hover, .btnFunction:hover {
    color: white;
    background-image: linear-gradient(to right, transparent, #4679d0);
}

/* Markets Part */

.btnMarket {
    width: 100%;
    font-weight: 400;
    color: white;
    border-radius: 0px;
    opacity: .7;
}

#marketsText, #functionsText {
    margin-bottom: 20;
    color: white;
    font-weight: 600;
    cursor: default;
    user-select: none;

}

#marketButtons {
    height: auto;
    width: inherit;
    text-align: center;
    margin-top: 10;
}


#marketsText {
    font-size: large
}

/* Functions Part */

.btnFunction {
    font-weight: 500;
    color: white;
    font-size: 22px;
}


#functionButtons {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: grid;
    width: inherit;
}

/* Expand / Collapse Button */
#btnMenuCollapse {
    border-left-width: 0;
    border-color: #124191;
    color: #124191;
    border-style: solid;
    border-radius: 0px 20px 20px 0;
    height: 40px;
    width: 20px;
    padding: 0;
    
}
