/* TOP Bar section	*/
#nokiaText {
    border-right: 1px solid white;
    margin-right: 10px;
    padding-right: 10px;
    font-weight: 900;
    user-select: none;
}

#viewTitle {
    margin-left: 20vw;
    text-align: center;
}

#synopsisText, #loggedUserText {
    font-weight: 500;
    /*user-select: none;*/
}
#loggedUserContainer {
	float: right;
}

#topInfoBar {
	width: 100%;
	height: 45px;
	/*background-color: #124191;*/
    background-image: linear-gradient(to right, #124191, #1858c5);
	padding: 10 10;
	color: white;

}

.btn.focus, .btn:focus, .custom-select:focus {
    box-shadow: none;
}

#contentContainer {
    width: 100%;
    height: calc( 100% - 45px );
    /*display: -webkit-box;*/
}

#content {
    width: calc(100% - 75px);
    height: calc(100% - 47px);
    margin-left: 75px;
    margin-right: 0;
}

@media screen and (max-width: 1100px){
    #viewTitle {
        margin-left: 10vw;
    }
}

@media screen and (max-width: 900px){
    #viewTitle {
        margin-left: 5vw;
    }
}

@media screen and (max-width: 800px){
    #viewTitle {
        margin-left: 10;
    }

    .welcomeText {
        display: none;
    }
}

@media screen and (max-width: 700px){
    #viewTitle {
        /*margin-left: 1;*/
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}