/* General Styling */

#topFilters {
    height: 47px;
    display: block;
    /*width: calc( 100% - 75px );*/
    width: 100%;
    border-bottom: 1px solid #124191;
    display: -webkit-box;
    color: #124191;
}

#filtersTextContainer {
    height: 100%;
    width: 9%;
    min-width: 75;
    font-size: large;
    font-weight: 600;
    margin: 10 0 10 10%;/*90 should be min*/
    /*border-right: 1px solid #124191;*/
}

/* Year-month filter combo */

#yearMonthContainer {
    /*margin-left: 25;*/
    width: 185px;
    height: 100%;
    text-align: center;
    padding-top: 8px;
}

#textYearMonth {
    margin: 0 !important;
    font-size: small;
    /*border-left: 1px solid #124191;*/
}

#cbYearMonth {
    height: 31px;
    width: 100px;
    color: #124191;
    font-size: small;
    padding: 5px;
    /*border: 1px solid #124191;*/
}

/* GDM filter combo */

#gdmContainer {
    width: 230px;
    height: 100%;
    text-align: center;
    padding-top: 8px;
}

#textGDM {
    border-left: 1px solid #124191;
    padding-left: 10;
    font-size: small;
}

#cbGDM {
    height: 31px;
    width: 150px;
    color: #124191;
    font-size: small;
    padding: 5px;
    /*border: 1px solid #124191;*/
}

/* Data Type Radio Buttons */

#dataTypeContainer {
    display: flex;
    margin-left: 6%;
}

.dataTypeButton {
    border: 1px solid #124191;
    border-radius: 0;
    height: 30px;
    margin-top: 8px;
    padding: 0px 20px;
    font-weight: 500;
    color: #124191;
    opacity: 0.5;
}

.dataTypeButton:not(.selectedDataType):hover {
    opacity: 1;
    color: #124191;
}

.selectedDataType {
    color: white;
    background-color: #154dad;
    opacity: 1;
} 

.selectedDataType:hover {
    color: white;
}

#projectView {
    border-radius: 15px 0 0 15px !important;
}

#rawDataView {
    border-radius: 0 15px 15px 0 !important;
}

/* Left side buttons (Export and Load Data) */
#rightButtonsContainer {
    position: absolute;
    right: 0;
    height: 46px;
    width: auto;
}

.rightBtn {
    margin: 7px;
    height: 32px;
    padding: 3px 6%;
    color: #124191;
    border: 1px solid #124191;
    width: 130px;
    border-radius: 10px;
}

.rightBtn:hover {
    opacity: .6;
    color: #124191;
    /*background-color: rgba(18, 65, 145, 0.1);*/
}


/* Media queries for with < 1300px */
@media screen and (max-width: 1400px){
    #dataTypeContainer {
        margin-left: 0;
    }
}
@media screen and (max-width: 1250px){
    #dataTypeContainer {
        margin-left: 6%;
    }

    .rightBtnText {
        display: none;
    }

    .rightBtn {
        width: 33px;
        margin-right: 3;
        margin-left: 0;
    }
}

@media screen and (max-width: 1100px){
    #dataTypeContainer{
        margin-left: 0;
    }
}
@media screen and (max-width: 1000px){

    #gdmContainer, #yearMonthContainer {
        width: 165px;
    }

    #cbGDM {
        width: 100px;
    }

    #cbYearMonth {
        width: 77px;    
    }
}

@media screen and (max-width: 800px) {
    #filtersTextContainer {
        min-width: 55px;
        width: 7%;
    }
}

@media screen and (max-width: 755px) {
    #filtersTextContainer {
        display: none;
    }

    #yearMonthContainer {
        margin-left: 75px;
    }
}